[submodule "TinyEngine/ThirdParty/spdlog"]
	path = TinyEngine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TinyEngine/ThirdParty/GLFW"]
	path = TinyEngine/ThirdParty/GLFW
	url = https://github.com/TheCherno/glfw
